body {
	background-color: #f7f7f7;
}

.dashed-border {
	border: 2px dashed lightgrey;
	border-radius: 5px;
}

.btn {
	border-radius: 40px;
}

.card {
	box-shadow: 0 0 5px 0 rgb(0, 0, 0, .5);
}
/* Makes so the text of the password doesn't go outside the borders */
#password {
	width: 100%;
}